<form #form="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <label for="name">Name</label>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        [(ngModel)]="product.name"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label for="price">Price</label>
      <input
        matInput
        type="number"
        id="price"
        name="price"
        oninput="this.value = parseInt(this.value);"
        [(ngModel)]="product.price"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label for="stock">Stock</label>
      <input
        matInput
        type="number"
        id="stock"
        name="stock"
        oninput="this.value = parseInt(this.value);"
        [(ngModel)]="product.stock"
      />
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit">Save</button>
  <app-error-message [message]="message" />
</form>
